$normalTextFont: Helvetica, sans-serif;

$bgColor: #659DBD;

$txtHeadColor:  #f2f2f2;
$txtNormalColor:  #2d2b2b;

$buttonPrimaryColor: #BC986A;

$divBackgroundColor: #FBEEC1;


$myFontSize: 18px;

.bg-custom{
    background-color: #302f49;
}
  
.fa{
    font-size:20px !important;
    margin: 0;
    padding: 0;
}